<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="d-flex justify-content-between mb-4 ">
            <h1 class="col-6">Edit Recipe!</h1>
            <div class="d-flex justify-content-between ">
                <a href="/recipes" class="btn btn-primary btn-lg">back to recipes</a>
                <form action="/logout" method="post">
                    <input type="submit" value="Logout" class="btn btn-danger btn-lg">
                </form>
            </div>
        </nav>
        <form action="/recipes/update/{{recipe.id}}" method="post">
            <div class="col-6">
                <div class="form-group mb-3">
                    <label class="form-label">Name</label>
                    {% for message in get_flashed_messages(category_filter=['recipe_name']) %}
                        <p class="bg-warning text-danger">{{message}}</p>
                    {% endfor %}
                    <input type="text" class="form-control" value="{{recipe.recipe_name}}" name="recipe_name">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-3">
                    <label class="form-label">Description</label>
                    {% for message in get_flashed_messages(category_filter=['description']) %}
                        <p class="bg-warning text-danger">{{message}}</p>
                    {% endfor %}
                    <textarea name="description" rows="4" class="form-control" placeholder="Leave a comment here"  style="height: 100px">{{recipe.description}}</textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mb-3">
                    <label class="form-label">Instructions</label>
                    {% for message in get_flashed_messages(category_filter=['instructions']) %}
                        <p class="bg-warning text-danger">{{message}}</p>
                    {% endfor %}
                    <textarea name="instructions" rows="4" class="form-control" placeholder="Leave a comment here"  style="height: 100px">{{recipe.instructions}}</textarea>
                </div>
            </div>
            <div>
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Date</label>
                    {% for message in get_flashed_messages(category_filter=['date']) %}
                    <p class="bg-warning text-danger">{{message}}</p>
                    {% endfor %}
                    <input type="date" class="form-control" value="{{recipe.date}}" name="date">
                </div>
                <div class="form-group mb-3 col-6">
                    <label class="form-label">Under 30 minutes?</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="under_time"  value="1" {% if recipe.under_time == 1 %} checked {% endif %} class="form-check-input">
                            <label class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" name="under_time"  value="0" {% if recipe.under_time == 0 %} checked {% endif %} class="form-check-input">
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-lg w-100 col-2 mt-2">Submit</button>
            </div>    
        </form>
    </div>
</body>
</html>